.h5p-branching-question-container {
  width: 80%;
  position: absolute;
}

.h5p-branching-question {
  background-color: #FFFFFF;
  padding: 1em 2em 2em 2em;
}

.h5p-branching-question-title {
  font-size: 1.1em;
  font-weight: 300;
  margin-left: 1.2em;
}

.h5p-alternative-wrapper {
  height: 80%;
  overflow-y: scroll;
  overflow-x: none;
}

.h5p-branching-question-alternative {
  background: #F1F1F1;
  min-height: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 1.250em 0.2em 1.250em;
  margin: 0.5em;
  border-radius: 6px;
  border: solid 0.042em;
  border-color: #cfcfd1;
  cursor: pointer;
}

.h5p-branching-question-alternative::after {
  font-family: 'H5PFontAwesome4';
  content: '\f061';
}

.h5p-branching-question-icon {
  position: absolute;
  width: 150px;
  height: auto;
  top: -80px;
  left: 10px;
}

.h5p-branching-question .h5p-feedback-default {
  text-align: center;
}

.h5p-branching-question .h5p-feedback-has-image {
  display: flex;
  text-align: left;
  padding: 0;
  margin-left: 0;
}

.h5p-branching-question .h5p-feedback-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  max-width: 30%;
}

.h5p-branching-question .h5p-feedback-image img {
  width: 100%;
}


.h5p-branching-question .h5p-feedback-content {
  padding-left: 1em;
  margin-left: 1em;
}

.h5p-branching-question .h5p-feedback-content h2 {
  font-size: 1em;
}
